.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 400px;
}

.logo {
    width: 50px;
}

@media only screen and (max-width: 550px) {
    .title {
        display: none;
    }
    .left-header-content {
        min-width: initial;
    }
}